<footer class="page-footer font-small blue pt-4">

  <mat-divider></mat-divider>
  <p></p>

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5>Vira</h5>
        <p>Where your programs come true.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contact Information</h5>

        <ul class="list-unstyled">
          <li>
            <a href="mailto: therealvira@gmail.com">Send E-Mail</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">More Infos:</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://angular.io/">Angular</a>
          </li>
          <li>
            <a href="https://material.angular.io/">Angular Material</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    MIT License:
    <a href="https://github.com/vira-software-solutions/vira-offical-website/blob/master/LICENSE">Vira software solutions</a> | <a routerLink="/imprint" routerLinkActive="active">Imprint</a>
  </div>
  <!-- Copyright -->

</footer>
