<div class="grid-container">
  <mat-card>
    <mat-card-title>
      <h1 class="mat-h1">Hello World!</h1>
    </mat-card-title>
  </mat-card>
</div>
<div class="parallax"></div>
<div class="grid-container">
  <mat-card>
    <mat-card-title>
      <h1 class="mat-h1">
        This is text
      </h1>
    </mat-card-title>
    <mat-card-content>
      <p>
        consectetuer nibh euismod elit aliquam aliquam ipsum tincidunt nonummy dolore.
        ipsum lorem consectetuer ipsum consectetuer sed euismod elit dolore sit.
        diam lorem magna magna ut adipiscing erat magna nibh tincidunt.
        aliquam ut magna amet sed amet erat elit amet aliquam.
        amet diam lorem ipsum euismod amet ipsum diam lorem nibh.
        nibh ipsum aliquam erat ipsum consectetuer tincidunt ut tincidunt euismod.
        erat sit dolor dolore magna elit sit ipsum euismod lorem.
        diam amet dolor aliquam erat lorem erat laoreet consectetuer nonummy.
        amet diam magna lorem dolor magna laoreet magna dolor dolor.
        nonummy amet tincidunt euismod aliquam lorem adipiscing sit sit consectetuer.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="parallax"></div>

<div class="grid-container">

  <mat-card>

    <h1 class="mat-h1">You may also know us from the following platforms:</h1>

    <div class="grid-container">
      <mat-grid-list cols="4" rowHeight="250px">
        <mat-grid-tile *ngFor="let card of cards | async" colspan="1" rowspan="1">
          <mat-card class="link-item" (click)="redirect(card.link)">
            <mat-card-header>
              <mat-card-title>
                {{card.title}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img mat-card-lg-image class="img-shadowed" [src]="card.asset" alt="asset" />
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card>
</div>
<div class="parallax"></div>
