<div class="grid-container">
  <mat-card>
    <mat-card-title>
      <h1 class="mat-h1">Hello World!</h1>
    </mat-card-title>
    <div class="parallax"></div>
    <mat-card-title>
      <h1 class="mat-h1">
        This is text
      </h1>
    </mat-card-title>
    <mat-card-content>
      <p>
        consectetuer nibh euismod elit aliquam aliquam ipsum tincidunt nonummy dolore.
        ipsum lorem consectetuer ipsum consectetuer sed euismod elit dolore sit.
        diam lorem magna magna ut adipiscing erat magna nibh tincidunt.
        aliquam ut magna amet sed amet erat elit amet aliquam.
        amet diam lorem ipsum euismod amet ipsum diam lorem nibh.
        nibh ipsum aliquam erat ipsum consectetuer tincidunt ut tincidunt euismod.
        erat sit dolor dolore magna elit sit ipsum euismod lorem.
        diam amet dolor aliquam erat lorem erat laoreet consectetuer nonummy.
        amet diam magna lorem dolor magna laoreet magna dolor dolor.
        nonummy amet tincidunt euismod aliquam lorem adipiscing sit sit consectetuer.
      </p>
      <mat-divider></mat-divider>
      <div class="parallax"></div>
    </mat-card-content>
    <mat-card-title>
      <h1 class="mat-h1">You may also know us from the following platforms:</h1>
    </mat-card-title>

    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="33%">
        <a href="https://github.com/vira-software-solutions" target="_blank">
          <div>
            <img class="s-media-img md-card-image" src="assets/Octocat.png" />
          </div>
          <h1 class="mat-h1">GitHub</h1>
        </a>
      </div>
      <div class="item item-2" fxFlex="33%" fxFlexOrder="3">Item 2</div>
      <div class="item item-3" fxFlex>Item 3</div>
    </div>

    
  </mat-card>
</div>
