@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'vira-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.vira-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($vira-theme);
}

.parallax {
  /* The image used */
  // TODO: Replace image with vector graphic!!!
  background-image: url("assets/Vira.png");

  height: 200px;

  margin: 10px 2px 10px 2px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
